.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
    background-color: #d1d1d1; 
}

.titleArea {
    display: flex;
    flex-direction: column; 
}

.titleArea h1 {
    color: rgb(15, 64, 162);
    font-size: ;
}

.titleArea h2 {
    color: rgb(251, 200, 16);
}

.logoArea {
  display: flex;
  padding: 150px;
}
