.header {
    display: flex;
    justify-content: inline-block; 
    padding: 50px;
    width: 100%; 
  }
  
  .n.titleArea {
    display: in;
    align-items: center; 
    justify-content: flex-end; 
    width: 100%; 
  }
  
  .notificationArea img {
    display: block;
  }
  