.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
    background-color: #d1d1d1; 
}

.titleArea {
    display: flex;
    flex-direction: column; 
}

.titleArea h1 {
    co
}

.logoArea {
  display: flex;
  padding: 20px;
}
