.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
    background-color: #d1d1d1; 
}

.titleArea {
    display: flex;
    flex-direction: column; 
    padding-left: 20%;
}

.titleArea h1 {
    color: rgb(15, 64, 162);
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titleArea h2 {
    color: rgb(203, 165, 27);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logoArea {
  display: flex;
  padding-
}
